<!DOCTYPE html>
<html lang="en">
  <body>
    <h1>Buy Nothing Kathmandu</h1>
    <form
      method="POST"
      action="/api/products/upload/2335453254534"
      enctype="multipart/form-data"
    >
      <input type="file" name="image" />
      <input type="submit" />
    </form>
  </body>
</html>
